.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header {
  background: #ddd;
  padding: 15px 0;
}

.header p {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}

.header p .fa-solid {
  color: #5790a5;
  margin-right: 5px;
}