* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container-fuild {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.active {
  color: #000;
}

p {
  font-family: "Rajdhani", sans-serif;

}